body,
html {
  padding: 0;
  margin: 0;

  /* background-image: url('../images/front.jpg');
  background-size: 100%; */

  max-width: 100%;
}

/* .hasAccountText span {
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
} */

#registerForm,
#loginForm {
  display: none;
  float: inherit;
  margin-bottom: 50px;
}

#emailinfo {
  font-size: 12px;
}

.forgetPassword {
  font-weight: bold;
  font-size: 14px;
  /* cursor: pointer; */
}

#buttons {
  margin-top: 50px;
}

.icon{
    padding: 15px;
    text-align: left;
}

.inner-addon{
  position: relative;
}

.inner-addon .fa{
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon .fa{
  left: 0;
}
