html, body{
    /* background-color: #eae7dc; */
    box-sizing: border-box;
}

#bgcolor {
  /* background-color: #eae7dc; */
  font-weight: bold;
  text-decoration-color: indianred;
}

#search{
    border-radius: 10px;
}
#searchbutton {
  background-color: crimson;
  border-radius: 10px;
  border: none;
}

#searchbutton:hover{
    background-color: green;
}

.nav-item:hover{
    border-radius: 10px;
    font-style: oblique;
}


.fa-comments, .fa-thumbs-up{
  cursor: pointer;
  margin-left: 20px;
}

/* p{
    font-size: 20px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
} */

.link_rem:hover{
  text-decoration: none;
  color: brown;
}

.link_rem{
  color: black;
}

#table_border {
  -webkit-box-shadow: -2px -1px 5px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: -3px -2px 5px 5px rgba(0,0,0,0.425);
  box-shadow: -4px -3px 5px 5px rgba(0,0,0,0.35);
  border-radius: 20px;
}

#list-style li{
  list-style-type: none;
  margin: 0 0 10px 0;
}

#list-style :hover{
  text-decoration: none;
  background-color: antiquewhite;
}

aside{
  margin-right: 5rem;
  padding-left: .5rem;
}

#row-id{
  margin: 25px 0;
}